@import '~antd/dist/antd.css';
:root {
  --primary: #ea5569;
  --green: #12ca5b;
  --blue: #1890ff;
  --teal: #00bdd5;
  --orange: #fa8c16;
  --gray: #514d66;
  --gray2: #968ebe;
  --dark: #403f63;
  --dark2: #51507c;
}

.primary {
  color: var(--primary);
}
.orange {
  color: var(--orange);
}
.green {
  color: var(--green);
}
.teal {
  color: var(--teal);
}
.dark {
  color: var(--dark);
}
.dark2 {
  color: var(--dark2);
}
/* 
general 
*/
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #f7f8fc !important;
}

.ant-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
}

.ant-layout-header {
  background: #fff;
  width: 100%;
  box-shadow: rgb(0, 0, 0, 0.05) 0 8px 24px -2px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0px !important;
}

.ant-layout-content {
  padding-top: 60px;
}

.ant-layout-footer {
  margin-top: 40px;
}

.ant-tag {
  margin-right: 0px;
  align-items: center;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

.titleHolder {
  position: relative;
  padding: 0 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.lastUpdated {
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--gray2);
}

img {
  object-fit: cover;
}

.transperantButton {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}
/* 
block
*/
.block {
  padding: 20px 0;
}

/*
Header
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 22px;
  font-weight: 400;
}

.header .logo img {
  margin-right: 10px;
  vertical-align: sub;
}

.header .logo a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/*
CasesDisplay
*/
.casesDisplay {
  text-align: center;
  border-radius: 8px;
}
.casesDisplay p {
  margin: 0px;
}
.casesDisplay h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}
/*
CountrySelector
*/
.selectCountry .option {
  font-size: 16px;
}

/*
CountryData
*/
.countryData {
  margin-top: 6px;
}

.countryData .content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.countryData .icon {
  width: 15%;
  margin: auto 10px auto 0px;
}

.countryData .fas {
  font-size: 1.4rem;
  color: var(--dark2);
}

.countryData h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0px;
}

.countryData p {
  color: var(--gray2);
  margin: 0px;
}

/*
Footer
*/
.ant-layout-footer {
  background: #3a3f44 !important;
  color: #fafafa !important;
  padding: 40px 0 !important;
  text-align: center;
}
.copyright {
  font-size: 0.8rem;
  font-weight: 600;
}
.ant-layout-footer a {
  color: var(--teal);
}
.footer .goTop {
  color: var(--teal);
  font-size: 30px;
}
.footer .goTop svg:hover {
  opacity: 0.7;
}
/*
Card
*/
.contentCard h1 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: var(--dark);
}

.contentCard h3 {
  line-height: 1.2rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--dark2);
}

/*
Vaccine display
*/
.vaccineDisplay {
  text-align: center;
  border-radius: 8px;
}
.vaccineDisplay p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0px;
}
.vaccineDisplay h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}

.vaccineDetail {
  margin-bottom: 0px;
  margin-left: 10px;
}

/*
sortSelector
*/
.optionContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.optionContainer p {
  margin-left: 10px;
  margin-bottom: 0px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
}

.mobileHidden {
  display: block;
  width: fit-content;
}
.mobileVisible {
  display: none;
}
.ant-menu-item {
  position: inherit;
}
@media only screen and (max-width: 768px) {
  .titleChart {
    max-width: 120px;
  }
  .mobileHidden {
    display: none;
  }
  .mobileVisible {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .radioGroup {
    display: flex;
    flex-direction: row;
  }
}
